* {
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	box-sizing: border-box;
}

body {
	background-color: #eeeeee;
	/* background: url('../img/panorama-2559103_1920.jpg') no-repeat center 80% fixed; */
	background: url('../img/vidbg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #111111;
}
body,
html {
	font-family: 'Barlow', sans-serif;
	font-size: 90%;
	line-height: 1.8;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: -0.015em;
}

h1 {
	font-weight: 800;
	font-size: 3em;
}

h2 {
	font-weight: 800;
	font-size: 2em;
}

b {
	font-weight: 600;
}

img {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

img {
	max-width: 100%;
	display: block;
}

p {
	margin-bottom: 1.3em;
	display: block;
}

a {
	color: #005896;
	transition: 0.15s all linear;
	line-height: 1.8;
	text-decoration: none;
}

a:hover {
	color: #db8000;
}

ul.list li {
	margin-bottom: 0.5em;
}
ul.list li:before {
	content: '\0025ba\00a0';
	font-size: 0.75em;
	margin-right: 0.5em;
}

iframe.yt {
	width: 100%;
	height: 100%;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	background-color: rgba(0, 88, 150, 0.61);
	min-height: 100vh;
	position: relative;
	color: #ffffff;
}

.hero .bgoverlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 50%;
}

.hero .bgvid_container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -2;
}

.hero .bgvid {
	/* Make video to at least 100% wide and tall */
	min-width: 100%;
	min-height: 100%;

	/* Setting width & height to auto prevents the browser from stretching or squishing the video */
	width: auto;
	height: auto;

	/* Center the video */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero img.logo {
	max-width: 15em;
	box-sizing: border-box;
	width: 100%;
}

.hero .flexhalf {
	width: 50%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em;
}

.flexhalf p {
	text-align: left;
}

.hero .tagline_wrapper {
	max-width: 45em;
	text-align: center;
	font-size: 0.85em;
}

.hero .tagline {
	font-size: 4.5em;
	font-weight: 300;
	display: inline-block;
	text-align: left;
}

.logo_left {
	margin: 2em 1em 2em 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.tagline_right {
	margin: 2em 0em 2em 1em;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	text-align: right;
	max-width: 55%;
}

.fright h1 {
	display: block;
}

.hero p {
	font-size: 1.6em;
}

.hero_old {
	background-color: rgba(0, 88, 150, 0.61);
	min-height: 100vh;
	position: relative;
	color: #ffffff;
}

.hero_old .bgvid_container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.hero_old .bgvid {
	/* Make video to at least 100% wide and tall */
	min-width: 100%;
	min-height: 100%;

	/* Setting width & height to auto prevents the browser from stretching or squishing the video */
	width: auto;
	height: auto;

	/* Center the video */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero_old > .tagline_wrap {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}

.hero_old .tagline h1 {
	font-size: 5em;
	font-weight: 300;
	display: inline-block;
}

.hero_old .tagline p {
	font-size: 1.6em;
	font-weight: 400;
	max-width: 66%;
}

.navbar img.logo {
	width: 12em;
	max-width: 100%;
}

.contentwidth {
	width: 100%;
	max-width: 110em;
	padding: 2em;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.contentwidth.flexrow {
	display: flex;
	flex-direction: row;
}

.barseparator {
	height: 5px;
	background-color: #eeeeee;
}

.bar {
	background-color: #eeeeee;
	padding: 1em 0 1em 0;
	/*border-bottom: 1px solid #dddddd;*/
	position: relative;
}

.bar img.zk {
	height: 15em;
	width: auto;
}

.bar.zkbg {
	background: url('../img/sbrbs.jpg') no-repeat center 80% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #eeeeee;
}

.bar.fullheight {
	min-height: 45vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bar.trainingsbg {
	background: url('../img/trainingsbg.png') no-repeat center 80% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #eeeeee;
}

.bar.eventsbg {
	background-color: #222222;
	background: url('../img/magicmirror.png') no-repeat center 80% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #eeeeee;
}

.bar.shovroombg {
	background-color: #222222;
	background: url('../img/shovroombg.png') no-repeat center 80% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #eeeeee;
}

.bar.interactivebg {
	background-color: #222222;
	background: url('../img/interactivebg.png') no-repeat center 80% fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	color: #eeeeee;
}

.bar .bottomhalfblue {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 0;
	top: 60%;
	bottom: 0;
	/*	top:25%;
	bottom: 20%;*/
	background-color: #005896;
}

.bar .bottomhalfblue svg {
	width: 100%;
	height: 100%;
	fill: #005896;
}

.bar.blue {
	background-color: #005896;
	color: #ffffff;
}

.pad {
	min-height: 2em;
}

.row {
	display: flex;
	/*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

.row.alignbottom {
	justify-content: center;
	align-items: flex-end;
}

.row.noborder {
	border: 0;
}

.box {
	font-size: 1.2em;
	padding: 1em;
	padding-left: 5%;
	padding-right: 5%;
	/*margin: 1%;*/
	float: left;
	text-align: center;
}

.blue .box {
	border-color: #006db9;
}

.box.box_half {
	width: 50%;
}

.box.box_third {
	width: 33%;
}

.box.box_twothirds {
	width: 66%;
}

.box.box_quarter {
	width: 25%;
}

.box.box_fifth {
	width: 20%;
	font-size: 1em;
}

.box.desc {
	padding: 3em 1em 3em 1em;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.st0 {
	fill: red;
}

.box .desc img.yt {
	width: 100%;
}

.box.box_quarter {
	width: 25%;
}

.box:first-child {
	border-left: 0;
}

.box img.main {
	max-width: 100%;
	width: 5em;
	margin: 0 auto;
	margin-bottom: 3em;
	margin-top: 1em;
	display: block;
	fill: #000000;
}

.box img.main.zk {
	max-width: 100%;
	width: 15em;
	height: auto;
	margin: 0 auto;
	margin-bottom: 3em;
	margin-top: 1em;
	display: block;
	fill: #000000;
}

.box img.main.customer {
	max-width: 100%;
	width: 6em;
	margin: 0 auto;
	margin-top: 1em;
	display: block;
	fill: #000000;
}

.box i.main {
	max-width: 100%;
	font-size: 3.6em;
	margin: 0 auto;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.box .title {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.75em;
}

.row.cardrow {
	flex-wrap: nowrap;
	overflow-x: scroll;
	position: relative;
	padding-bottom: 25px;
}

.row.cardrow::-webkit-scrollbar {
	height: 25px;
	cursor: pointer;
}

.row.cardrow::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 100px;
	border: 10px solid #005896;
	height: 15px;
	margin: 6em;
}

.row.cardrow::-webkit-scrollbar-thumb {
	background: #0074c5;
	width: 25px;
	border-radius: 100px;
	transition: 0.15s all linear;
}

.row.cardrow::-webkit-scrollbar-thumb:hover {
	background: #004779;
}

/*.row.cardrow .nav{
	position: absolute;
	top:43%;
	bottom: 43%;
	width:1em;
	font-size: 6em;
	color:#333333;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .05s all linear;
	cursor:pointer;
	z-index: 10;
	background-color: rgba(0,0,0,0.2);
	text-shadow: 0px 0px 10px 25px #eeeeee;
}
.row.cardrow .nav.nav_left{
	left:0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.row.cardrow .nav.nav_right{
	right:0;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.row.cardrow .nav:hover{
	color:#005896;
	background-color: rgba(255,255,255,0.8);
}*/

.card {
	flex: 0 0 auto;
	width: 25em;
	font-size: 1.2em;
	margin: 1%;
	float: left;
	text-align: center;
	background-color: #eeeeee;
	color: #111111;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.5);
	position: relative;
}

.card.offset {
	flex: 0 0 auto;
	width: 3em;
	font-size: 1.2em;
	margin: 1%;
	float: left;
	text-align: center;
	background-color: transparent;
	color: #111111;
	box-shadow: none;
	position: relative;
}

.card img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.card h1.title {
	font-size: 1.75em;
}

.card p.bold {
	font-weight: 800;
	color: #005896;
}
.card .rmore {
	margin-top: 2em;
	display: inline-block;
}

.card .rmore:after {
	position: absolute;
	content: 'More Info >>';
	bottom: 0;
	right: 0;
	padding: 1.2em;
}

.card .description {
	padding: 1em;
	padding-left: 5%;
	padding-right: 5%;
}

form {
	max-width: 65em;
	margin: 0 auto;
	margin-top: 3em;
}

input,
textarea {
	margin: 0.5em;
	width: 30%;
	padding: 1em;
	color: #000000;
	border-radius: 3px;
	border: 1px solid #cfcfcf;
}

.flex-outer li,
.flex-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
	flex: 1 0 4em;
	max-width: 12em;
	text-align: right;
	padding-right: 2em;
}

.flex-outer > li > label + *,
.flex-inner {
	flex: 1 0 4em;
}

.g-recaptcha {
	margin-left: auto;
	padding: 0.5em;
}

.flex-outer li input[type='submit'] {
	margin-left: auto;
	outline: none;
	padding: 1em;
	border: none;
	background: #ffffff;
	color: #000000;
	border-radius: 2px;
	cursor: pointer;
	transition: 0.15s all linear;
}

.flex-outer li input[type='submit']:hover {
	color: #005896;
	background-color: #ddddff;
}

.flex-outer li input[type='submit']:active {
	background-color: #0897f7;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.footer {
	color: #52b7ff;
	margin-left: 3em;
	margin-right: 3em;
}

.social {
	margin: 0 0.4em 0 0.4em;
}

.largefont {
	font-size: 1.5em;
}

.clearfix {
	clear: both;
}

/*	MODAL	*/

.modal {
	display: flex;
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal.hidden {
	display: none;
}

.modal .lightbox {
	position: relative;
	background-color: #eeeeee;
	max-width: 64em;
	max-height: 36em;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 55px 3px rgba(0, 0, 0, 0.3);
}

.modal .lightbox .close {
	position: absolute;
	z-index: 1;
	width: 2.7em;
	height: 2.7em;
	background-color: #eeeeee;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	color: #aaaaaa;
	transition: 0.15s all linear;
}

.modal .lightbox .close:hover {
	color: #888888;
}

.lightbox .content {
	width: 100%;
	height: 100%;
}

.lightbox_insertable_content {
	display: none;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.map_wrapper {
	width: 100%;
	min-height: 40em;
	height: 40em;
	position: relative;
}

.map_wrapper iframe {
	width: 100%;
	height: 100%;
}

.yt_thumb {
	margin: 0.5em 0 0.5em 0;
}

#mailResponse {
	font-weight: 700;
	float: right;
	margin: 1em 1em 1em 0;
}

@media screen and (max-width: 1100px) {
	.row {
		flex-direction: column;
	}

	.row.cardrow {
		flex-direction: row;
	}

	.box {
		float: none;
		width: 100% !important;
		padding-left: 10%;
		padding-right: 10%;
	}

	.card {
		font-size: 0.9em;
	}

	form {
		width: 100%;
		max-width: 100%;
	}

	.flex-outer > li > label,
	.flex-outer li p {
		flex: 1 0 4em;
		max-width: 8em;
		text-align: right;
		padding-right: 2em;
	}
}

@media screen and (max-width: 850px) {
	.hero .tagline_wrapper {
		justify-content: center;
		flex-direction: column;
	}

	.hero .tagline_right {
		align-items: center;
		max-width: 100%;
		text-align: left;
	}

	.contentwidth.flexrow {
		display: block;
	}

	.hero .flexhalf {
		width: auto;
	}
}

@media screen and (max-width: 500px) {
	.hero .tagline_wrapper .tagline {
		font-size: 3.5em;
	}

	.hero p {
		font-size: 1.2em;
	}

	.hero img.logo {
		max-width: 10em;
		box-sizing: border-box;
		width: 100%;
	}
}
